<div class="contain ">
  <div class="col-md-4 col-md-offset-4 well">
    <h2>Forgot Password</h2>
    <%= form_tag password_resets_path method: :post  do |f| %>
    <div class="form-group">
      <%= label_tag :email %>
      <%= text_field_tag :email, nil, class: 'form-control'%>
    </div>
    <%= submit_tag "Send", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>