
<h1>Frakt</h1>
<p> Hi <%= @user.first_name %>, </p>
<p>
  Jobbeier av jobb <%= link_to "#{@application.job.title}", job_url(@application.job) %> har inviterer deg
  <br>
  Please contact the jobowner immediately 
  To get jobbeier contact details, log on to your <%= link_to 'Frakt', root_url %> account and click on 'My Jobs Won'
  <br>
  Please note that all financial transaction is between you and the jobowner after the job is done
  <br>
  We wish you a happy cooperation together
  
</p>

<br>
<P>MVH</P>
<P>  Frakt Kundesupport </p>

