
<h1>Frakt</h1>
<p> Hei <%= @user.first_name %>, </p>
<p>
  Jobbeier av jobb <%= link_to "#{@application.job.title}", job_url(@application.job) %> har inviterer deg
  <br>
  Ta kontakt med jobbeier umiddelbart
  Logg på <%= link_to 'Frakt', root_url %>-kontoen din og klikk på <strong>Invitasjoner fra jobb eiere</strong> å få jobb eieren kontaktinformasjon
  <br>
  Jobben eieren vil betale deg direkte etter jobben er utført
  <br>
  Vi ønsker deg en lykkelig samarbeid med jobbeier
  
</p>

<br>
<P>MVH</P>
<P>  Frakt Kundesupport </p>

