<h1>Frakt</h1>

<p> Hei <%= @user.first_name.capitalize %>, </p>
<p>
  Gratulerer! Du valgte <%= @application.user.first_name.capitalize %> som hjelper for din jobb <br>
 <em> <strong><%=link_to "#{@application.job.title.capitalize}", job_url(@application.job) %> </strong></em><br>
  <br>
  Er du fornøyd med sitt arbeid?<br>
  Vennligst logg inn på Frakt-kontoen din på <%= link_to "#{root_url}", root_url %> and Klikk på 'Min Konto'.<br>
  Til venstre, klikk på <strong>'Hjelpere venter på dine vurderinger'</strong> og skrive en omtale<br>

  <br>
  Det tar bare 15-20 sekunder  
</p>


<P>MVH</P>
<P>Kundesupport </p>
