<h1>Jobbplass</h1>

<p>Hei <%= @application.user.first_name %></p>

<p>Du har en ny anmeldelse fra <%= @application.job.user.first_name %></p>
<p>Klikk på <%= link_to 'Min offentlige profil', user_url(@application.user) %> </p>


<p>MHV</p>
<p> Jobbplass Kundersupport</p>