<% @page_title = 'Sett inn Annonse'%>
<%= render 'jobform', title: 'Sett inn Annonse' %>
<div class='overlay col-md-12 text-center hidden'>
  <div class='spin col-md-2 col-md-offset-5'>
    <p></p>
    <%= image_tag('pages/spin.gif') %>
    <p>Behandling...</p>
  </div>
  
</div>
<%= render 'test.html.erb' %> <!-- funny way to include page specific js ie included as partial -->


