<div class="row well col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-12 ">  
    <div class="col-md-6 col-xs-12 infos hidden-xs">
        <br/>
      <p>Please create your new account.</p>
      <p>If you want to post a shipment, select Announcer</p>
      <p>If you want to be a driver, select I want to be a driver</p>
      <p>then fill the rest of the form</p>
      <img src="images/truck.jpg" class="img-responsive hidden-xs"> 
    </div>
    <form class="col-md-6 registerform col-xs-12" novalidate>
          <h3 class="text-center">CREATE YOUR ACCOUNT</h3>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Email">   
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>

         <div class="form-group">
          <label for="confirmpassword">Password</label>
          <input type="password" class="form-control" id="confrimpassword" placeholder="Password">
        </div>
        <br/>

        <div class="checkbox">
          <label>
            <input type="checkbox"> I agree to Frakkt <a href="#">Terms of service</a> and <a href="#">Privacy statement</a>
          </label>
        </div>
        <button type="submit" class="btn btn-default btn-block register-button">Registrer</button>  
        <hr/>
        <h4 class="text-center">Are you a member already? <a href="#">Login</a></h4>
      </form>
    </div>