<div class="contain">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
    <div class="row">
      <aside class="col-md-4 col-sm-5 well dashboard-menu"> <!--styles for dashboard-menu found in myjobs.css.scss -->
        <h2>Manager Dashboard</h2>
        <hr/>
        <div class=''>
          <h4 ><%= link_to 'All Users', all_users_manager_path %></h4>
          <h4 ><%= link_to 'All Jobs', all_jobs_manager_path %></h4>
          <h4 ><%= link_to 'All Applications', all_applications_manager_path %></h4> 
        </div> 
      </aside>
      <div class="col-md-8 col-sm-7  col-xs-12 result-section well"><!--styles for result-section found in myjobs.css.scss -->
      <div class="dashboard-menu-info"> 