<% @page_title = 'Frakt -Om Oss'%>

<div class='col-md-4 col-md-offset-4 text-center'>
  <br>
  <br>
<div class='well'>
  <h4>Frakt er eid av Imagin Technologies Ufeanei i Stavanger</h4>
  <h5> Besøksadresse: Clipperveien 17, 4077, Stavanger </h5>
</div>
</div>