
<% @page_title = 'Frakt -bli en helper'%>
<div class='contain'>
  <div class='col-md-10 col-md-offset-1 envelop'>
    <div class='well well-border'>
       <h2 class='text-center red-text'>Bli en helper</h2>
       <br>
       <br>
       <div class='text-center grey-text'>
         <h4> Vi kobler hjelpere med dem som ønsker å transportere noe</h4> 
         <h4> Hvis du har bil, bli en helper og tjene penger. Registrering er gratis</h4>
         <h4>En hjelper er betalt direkte av jobb eier</h4>
       </div>
       <br>
       <br>

      <div class='green-text'>
        <h3 class='text-center white-text'><strong>Slik fungerer det</strong></h3>
        <br>
        <br>
        <div class='row'>
          <div class='col-md-3 col-sm-6'>
            <h4 class='text-center'><span class='numbers'>1</span>Registrer deg som hjelper</h4>
            <br>
            <p>Registrering er gratis </p>
            <p>Vennligst fyll profilen din etter registrering.</p>
          </div>
          <div class='col-md-3 col-sm-6'>
            <h4 class='text-center'><span class='numbers'>2</span>Tilby din hjelp</h4>
            <br>
            <p>Bla gjennom aktive jobber. <br> Søke å hjelpe. </p>
          </div>
          <div class='col-md-3 col-sm-6'> 
            <h4 class='text-center'><span class='numbers'>3</span>Jobb eiere inviterer deg</h4>
            <br>
            <p>Vent til invitasjoner fra jobb-eiere. <br> Inviterte hjelpere blir varslet via e-post</p>
          </div>
          <div class='col-md-3 col-sm-6'>
            <h4 class='text-center'><span class='numbers'>4</span>Hjelp og få betalt</h4>
            <br>
            <p>Vær oppmerksom på at betaling er mellom deg og jobbeier. <br> Vi gir bare en plattform for hjelpere og jobbeiere til møte </p>
          </div>
        </div>
      </div>
      <div class='text-center down-btn'>
        <%=link_to 'OPPRETT NY KONTO', new_user_path, class: 'btn btn-lg create-btn' %>
        <h4>Allerede registrert? <%=link_to 'Logg inn', login_path %> </h4>
      </div>    
    </div>
  </div>
</div>