
<% @page_title = 'Frakt -bli en helper'%>
<div class='contain'>
  <div class='col-md-10 col-md-offset-1 envelop'>
    <div class='well well-border'>
       <h2 class='text-center red-text'>Bli en helper</h2>
       <br>
       <br>
       <p> Frakt connects helpers to anyone who want to move something within their community. <br>If you have a pickup, minivan  box car or any car that can carry etc., you can earn money on Frakt by registering to become a helper. Registration is free</p>
       <p>A helper is paid instantly after delivery by jobowner</p>
       <br>
       <br>

      <div class='green-text'>
        <h3 class='text-center white-text'><strong>How it works</strong></h3>
        <br>
        <br>
        <div class='row'>
          <div class='col-md-3 col-sm-6'>
            <h4 class='text-center'><span class='numbers'>1</span>Register as helper</h4>
            <br>
            <p>Register free to become a helper on Frakt </p>
            <p>Please make sure you complete your profile after registration.</p>
          </div>
          <div class='col-md-3 col-sm-6'>
            <h4 class='text-center'><span class='numbers'>2</span>Apply to help</h4>
            <br>
            <p>Browse active jobs and apply to help. <br> Service is free now</p>
          </div>
          <div class='col-md-3 col-sm-6'> 
            <h4 class='text-center'><span class='numbers'>3</span>Helpers invites you</h4>
            <br>
            <p>Wait for jobowner to invite you. <br> Invited helpers are notified by email</p>
          </div>
          <div class='col-md-3 col-sm-6'>
            <h4 class='text-center'><span class='numbers'>4</span>Help and get paid</h4>
            <br>
            <p>Meet jobowner and help him transport the load.<br> Please note that payment is between you and the jobowner. <br> We only provide a platform for helpers and movers to meet </p>
          </div>
        </div>
      </div>
      <div class='text-center down-btn'>
        <%=link_to 'CREATE YOUR ACCOUNT', new_user_path, class: 'btn btn-lg create-btn' %>
        <h4>I have an account <%=link_to 'Logg inn', login_path %> </h4>
      </div>    
    </div>
  </div>
</div>