<% @page_title = 'Jobbplass | Kunderservice'%>

<div class="contact-wrapper">  <!-- the styles for class contact are found on the custom side wide css styles -->
  <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 col-xs-12 contact">
    <div class="well">
    <h3>Vi er alltid glade for å høre fra deg</h3>
      <hr/>

      <h3>Kontakt oss</h3>

      <p>Imagin Technologies</p>
      <p>Clipperveien 17, 4077, Hundvag</p>
      <p>E-post : admin@jobbplass.no</p>
      <p>Tel: 96693441</p>
   </div>
  </div>
</div>


