<% @page_title = 'Frakt -Kunderservice'%>

<div class="contact-wrapper">  <!-- the styles for class contact are found on the custom side wide css styles -->
  <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 col-xs-12 contact">
    <div class="well">
    <h3>We are always happy to talk to you</h3>
      <hr/>

      <h3> Contact Details</h3>

      <p>Imagine Technologies</p>
      <p>Clipperveien 17</p>
      <p>4077, Hundvag</p>
      <p>email : kundeservice@imagintechnologies.no</p>
      <p>Telephone : 47723149</p>
   </div>
  </div>
</div>


