<% @page_title = 'Jobbplass | Ofte Stilte Spørsmål'%>
<h1 class='text-center'>Ofte Stilte Spørsmål</h1>
<div class='contain'>
  <div class='col-md-6 col-md-offset-3 '>
    <br>
    <br>
    <div class='well faq-wrapper'>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Jeg er en hjelper. Hvordan kan jeg tilby hjelp?<i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
            </h3>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <br>
            <ul>
              <li>Å tilby hjelp, en hjelper navigerer til jobben side og klikk på 'Tilby din hjelp'-knappen</li>
              <li>Jobbeier er deretter varslet via e-post</li>
              <li>Vent på jobbeier å invitere deg. </li>
            </ul>
            <br>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h3 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Hvordan vet jeg at en jobbeier har invitert meg? <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
            </h3>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <br>
            <ul>
              <li>Logg inn på Jobbplass</li>
              <li>Øverst til høyre ser du Min Konto. Klikk på denne for å gå til konto dashbordet</li>
              <li>På venstre klikk på 'Invitasjoner fra jobbeiere'. Her vil du se invitasjoner fra jobb eiere og deres kontaktinformasjon</li>
              <li>Kontakt dem umiddelbart</li>
            </ul>
            <br>
           
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h3 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               Hvordan får jeg betalt etter jobben er utført <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
            </h3>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <br>
            <ul>
              <li>Når jobben er utført,  du får utbetalt direkte av jobbeieren. Jobbplass er ikke del av en økonomisk transaksjon mellom hjelpere og jobbeiere </li>
            </ul>
            <br>
            
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h3 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                Hvordan inviterer jeg en hjelper for småjobben min?<i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
            </h3>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">

            <br>
            <ul>
              <li>Logg inn på Jobbplass</li>
              <li>Øverst til høyre ser du Min Konto. Klikk på denne for å gå til konto dashbordet</li>
              <li>På venstre, klikk på 'Mine annonser'. Du vil se dine småjobber og  hjelperne som har tilbudt å hjelpe deg.</li>
              <li>Velg hjelperen du liker og klikk 'Inviter'-knappen ved siden av helperens navn </li>
            </ul>
            <br>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h3 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
               Hvordan vurderer jeg en hjelper? <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
            </h3>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <br>
            <ul>
              <li>Logg inn på Jobbplass</li>
              <li>Øverst til høyre ser du Min Konto. Klikk på denne for å gå til konto dashbordet</li>
              <li>På venstre, klikk på 'Vurder din hjelper'. </li>
              <li>Skrive en omtale</li>
            </ul>
            <br>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
