<header>
<div class="col-md-12">
  <div class="row col-md-10 col-md-offset-1 ">
    <br>
    <br>
    <div class="hero-text col-md-5">
      <br>
      <br>
      <br>
      <br>
      <h1>Move anything within your community</h1>
      <h3>Har du varebil, katongbil etc, earn money by helping transport something  in your community</h3>
      <div>
        <%= link_to "Vis alle annonse(305)", jobs_path, class: "btn btn-lg btn-total-jobs" %>
      </div>
    </div>
    <div class="hero-picture col-md-7">
      <%= image_tag('pages/fotolia.jpg', class: 'img-responsive pull-right')%>
    </div>
  </div>
<div>
</header>

<main>
  <h4 class="directions-text text-center">How it works</h4>
  <div class="container">
    <div class="panel panel-default col-md-4 pull-left">
      <div class="panel-heading">
        <h3 class="panel-title">You need a helper to move something</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Post it here free</li>
          <li>helpers make offers</li>
          <li>You select a helper for your job</li>
          <li>Rate the driver after job is done</li>
        </ul>
        <button class="btn btn-block btn-success">Post your add</button>
      </div>
    </div>

    <div class="panel panel-default col-md-4 pull-right">
      <div class="panel-heading">
        <h3 class="panel-title">i want to be a helper</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Post it here free</li>
          <li>helpers make offers</li>
          <li>You select a helper for your job</li>
          <li>Rate the driver job is done</li>
        </ul>
        <button class="btn btn-block btn-info">Become a helper</button>
      </div>
    </div>
  </div>    
</main>




