<% @page_title = 'Frakt -Personvernpolicy'%>

<div class='col-md-6 col-md-offset-3'>
	<div class='well'>
Frakt is owned by Imagin Technologies 
Your privacy matters to us and we are committed to protecting your privacy.

<p>By using our site you agree to comply with all therms of service below</p>

1) Information we collect on the site
  a) what you collect
  b) what you do with it
  c) what you don't do with it

  2) cookies
  what are cookies
  we use cookies to make sure 
  how you use them on this site

  change of privacy statement
</div>
</div>



<div class="text-center">Privacy Policy here</div>