<% @page_title = 'Jobbplass | Personvernpolicy'%>
<div class='contain'>
  <br>
  <br>
  
  <div class='col-md-6 col-md-offset-3 privacy'>
    <div class='well'>
      <h2> Cookies / Personvernpolicy </h2>
      Jobbplass er en del av Imagin Technologies.<br>
      Jobbplass har forpliktet seg til å beskytte personvernet ditt.

      <p>Her er våre retningslinjer for personvern</p>

       <h3>Opplysninger du gir til oss</h3>
      <p>  
      Når du registrerer en ny konto på Jobbplass.no eller legger inn en annonse, de opplysninger du gir blir kun lagret i vår database for å gi deg tilgang til de tjenester du ønsker og for å forebygge svindel.<br>

      Når du inviterer en hjelper, er telefonnummeret synlig bare for inviterte hjelper og telefonnummer hjelperen er også synlig for deg. Dette er å lette kommunikasjonen mellom hjelper og jobbeier.<br>

      Vi vil ikke gi informasjon til tredjeparts nettsted.<br>
      Vi lagrer ikke kredittkortinformasjon.<br>
      Hvis du vil at informasjonen slettes, send oss en mail og vi vil gjøre det.<br>
    </p>

      <h3>Cookies</h3>
      <h4>a) Hva er cookies?</h4>
      <p>
      Cookies er små tekstfiler som lagres på brukerens datamaskin ,smarttelefon eller nettbrett.
      Cookies er enten vedvarende eller midlertidig.
      En vedvarende cookie lagres på harddisken i din datamaskin inntil en bestemt dato. Vedvarende cookier  blir liggende på maskinen inntil de enten  1) du fjerner dem manuelt,
      2) overskrives av nye cookies, eller c) utløper.

      En midlertidig cookie lagres bare i RAM på din datamaskin, og varer bare så lenge som nettleserøkten din. Når du stenger alle åpne nettleservinduer, eller slår maskinen  av, vil den midlertidig cookien bli slettet.
      </p>

      <h4>b) Hvordan bruker vi cookies?</h4>
      <p>
      Vi bruker cookies for å gi deg en best mulig brukeropplevelse på nettstedet vårt.<br>

      Om du ikke vil tillate lagring av cookies på din datamaskin må du slå av funksjonen i nettleseren. Vær oppmerksom på at dette vil føre til at du mister funksjonalitet i våre tjenester. Nettstedet vil ikke fungere som tiltenkt. 
    </p>
        

      <h4>Å håndtere cookies på forskjellige nettlesere se lenker nedenfor</h4>
      <p>
        Safari:  http://support.apple.com/kb/PH17191?viewlocale=no_NO&locale=no_NO<br>

        Safari for iPhone and iPad:  https://support.apple.com/no-no/HT201265<br>

        Google Chrome:  https://support.google.com/chrome/answer/95647?hl=no<br>

        Explorer:  https://support.microsoft.com/nb-no/help/17442/windows-internet-explorer-delete-manage-cookies<br>

        Mozilla Firefox:  https://support.mozilla.org/sv/kb/Till%C3%A5t%20eller%20blockera%20kakor?redirectlocale=en-US&redirectslug=Enabling+and+disabling+cookies<br>

      </p>

      <br>
      <br>

      <p>Sist oppdatert: 13.07.2016</p>
    </div>
  </div>
</div>





