<% @page_title = 'Jobbplass | vilkårene'%>

<div class='contain'>
  <br>
  <br>
  <div class='col-md-6 col-md-offset-3 privacy'>
    <div class='well'>
      <h2 class='text-center'>Vilkårene for tjenesten</h2>
      <p>Ved å registrere deg for å bruke jobbplass.no, samtykker du i å overholde vilkårene våre angitt nedenfor. Hvis du nekter å etterkomme, skal du ikke registrere deg som en bruker til dette nettstedet.
      Vi forbeholder oss retten til å endre disse vilkårene for tjenesten når som helst, og når dette er gjort, skal vi varsle brukeren gjennom en flash-melding hvis vi mener at endringen skal være betydelig.</p>

      <h3>Beskrivelse av vår service</h3>

      <p>Vi bygget jobbplass.no for å oppmuntre folk innen kommuner til å hjelpe hverandre med oppgaver.Derfor jobbplass er en plattform som gjør en jobb eieren å møte med en hjelper. Vi anbefaler at en helper og eier møtes fysisk for å ordne hvordan oppdraget skal være fullført. Jobbplass.no er ikke en del av dette arrangementet.Det hjelper er betalt direkte av jobbeieren etter at jobben er fullført. Jobbplass er ikke del av en økonomisk transaksjon mellom hjelpere og jobb-eiere. Alle brukere av nettstedet kan fungere som jobb-eiere eller hjelpere.</p>


      <h3>Brukerregistrering</h3>
      <p>Alle brukere må registrere til Jobbplass til å bruke nettstedet. Ved registrering av følgende informasjon er nødvendig.
      Fornavn, etternavn, municiplaity der brukeren bor, telefon kontakt til brukeren, e-post, passord. Telefonnummeret brukes for kommunikasjon mellom en jobbeier og hjelper.Når brukeren registrerer og bekrefter sin konto, han må deretter gi en valgfri profil bilde litt self beskrivelse.
      Registreringen er gratis.
      Les personvernerklæringen på hvordan vi bruker informasjonen din</p>

      <h3>Legg inn en annonse (gratis)</h3>
      <p>Å legge ut en annonse, fyll ut 'Sett inn annonse' skjemaet fullstendig.
      Denne tjenesten er gratis. Jobbeieren må gi nøyaktig og pålitelig informasjon for jobbannonsen</p>

      <h3>Tilby din hjelp</h3>
      <p>Å tilby hjelp, en hjelper navigerer til jobben web side og klikk på 'tilby din hjelp'-knappen. Eier er deretter varslet via e-post.Bare en maksimalt 4 hjelpere er tillatt per jobb. Jobbeieren velger én av dem og den valgte hjelper er varslet via e-post. For å velge en hjelper jobbeier må gå til sin kontodashbordet. Når en helper er valgt jobben blir inaktiv og ingen hjelper kan gjelde den igjen. En jobbeier kan aktivere en inaktiv jobb å tillate flere hjelpere unntatt maksimalt antall hjelpere har blitt nådd .Når en hjelper er valgt, hans mobilnummer er vist til jobbeier. Også jobbeier mobilnummer er vist til hjelper.Hjelperen må kontakte jobbeieren når invitert
      </p>

      <h3>Regler for både hjelpere og jobbeiere</h3>
      <p>All informasjon må være nøyaktig og ikke villedende
      Forbudte varer / tjenester skal ikke legges ut på dette nettstedet.Alle brukere må respektere tredjeparts rettigheter. De må ikke bryte norske lover, inkludert lover om skatt og lov om opphavsrett.Overtredelser vil bli rapportert til appriopriate myndigheter.Brukere er selv ansvarlig for toll, juridiske, skatte og finansielle spørsmål knyttet til hva de legger ut på jobbplass. Du må ikke overføre noen ormer eller virus eller kode med destruktivt innhold. Et brudd på noen av vilkårene vil resultere i en umiddelbar oppsigelse av tjenesten</p>

      <h3>Våre ansvarsoppgaver</h3>

      <p>Vi vil sørge for at området er tilgjengelig. Vi kan ha å vedlikeholde nettstedet og i løpet av denne tiden kan det være feil eller avbrudd i tjenesten. I slike tider, vi er ikke ansvarlig for eventuelle skader forårsaket. Vi bare gi plattform for møte mellom eier og hjelpere. Vi er ikke del av noen arrangement mellom dem. Vi er ikke ansvarlige for eventuelle jobb oppgave er utført.
      Vi er ikke ansvarlig for eventuelle tap som kan være forårsaket av brukere på grunn av avbrudd for våre tjenester. Priser for våre produkter kan endres uten varsel.
      Vi forbeholder oss retten til når som helst å endre eller avvikle tjenesten (eller noen del eller dets innhold) uten forvarsel.<br>
      Vi forbeholder oss retten til etter eget skjønn, å oppdatere, endre eller erstatte en del av disse vilkårene for tjenesten ved å publisere oppdateringer og endringer på nettstedet vårt. Det er ditt ansvar å sjekke nettsiden vår med jevne mellomrom for endringer. Din fortsatte bruk av eller tilgang til nettstedet vårt eller tjenesten følgende konteringen av eventuelle endringer i disse vilkårene for tjenesten innebærer aksept av disse endringene.
      <br>
      <br>
      <br>

      <p>sist oppdatert: 16.07.2016</p>

    </p>
    </div>
  </div>
</div>