<% @page_title = 'Frakt -vilkårene'%>

<h2>Terms of Service</h2>

Jobbplass provides a platform for helpers and job owners to meet.

By using the platform helpers and job owners must comply with our terms of service below



1) helpers and jobowners must register with us to post add or offer help

2) We only provide a platform for helpers and job owners to meet. We are not part of any financial transaction between job owner and helper.
 a helper is paid directly by the jobowner

 3) Only a maximum of 4 helpers may apply to a job. 



All illegal activities and forbidden on Jobbplass.no. Such a user will be deleted 