<h4 class="text-center">Gratulere! </h4>
<p>You have been invited for the following jobs. Please take contact with Job owner immediately</p>
<br>

<% @appli_won.each do |appli| %>
  <div class="my-appli">
    <h3><%= link_to "#{appli.job.title}", job_path(appli.job) %></h3>

    <h5> Jobeier:   <strong><%= appli.job.user.first_name %> </strong></h5>
    <h5> Telefon:   <strong><%= appli.job.contact_number %> </strong></h5>
    <h5> <%= appli.job.kommune.name %> </h5>  
  </div>
  <br>
<% end %>