<h4 class="text-center">You have applied to the following jobs</h4>
<p>Only applications to active jobs are shown.</p>
<p>If the jobowner has given the job to a helper, your application for that job is not shown here</p>
<p>Check the "My Jobs Won" on the left</p>
<br>

<% @my_applications.each do |appl| %>
<div class="my-appli">
  <h3><%= link_to "#{appl.job.title}", job_path(appl.job) %></h3>
  <% if appl.job.status=='active' %>
  <h4><strong>Active </strong></h4>
 <br>
  <%= appl.job.kommune.name %> 
  <% end %>
</div>
<br>
<% end %>