

/*---------------------------------------------------------------------|
/----------------------------------------------------------------------|
                              Application wide styles
|---------------------------------------------------------------------|
/----------------------------------------------------------------------*/
body {
  background:#cccccc;
  
}


.navbar {
margin-bottom: 0;
width: 100%}


/*--- .contact style below  is for contact page */
.contact-wrapper {
  overflow: auto;
}

.contact {
  text-align: center;
  border: 2px solid #aaa;
  background-color: #fff;
  font-family: arial, helvetica, sans-serif;
  border-radius: 15px;

  margin-top: 50px;
  margin-bottom: 50px;
} 




/*----------------end of application wide styles-----------------------*/


/*---------------------------------------------------------------------|
|----------------------------------------------------------------------|
                              Post add form styles
|---------------------------------------------------------------------|
|----------------------------------------------------------------------*/

.form-div {
  margin-top: 30px;
  background: #fff;
  border: 1px solid #aaa;
   
 }

.addr-field {
  margin: 5px 0;
}

.red-star {
  color: #ff0000;
  font-size: 20px;
}

  

.form-head-text{
  background:  #066;
  padding: 10px 0;
  color: #fff;
  margin-top: 0
}



/*------------------end of postadd form--------------------------------------*/



/*---------------------------------------------------------------------|
|----------------------------------------------------------------------|
                              front page styles
|---------------------------------------------------------------------|
|----------------------------------------------------------------------*/

header {
  border-bottom: 1px solid #009999;
  overflow:auto;
  background-color: #ffffff

}
.grey-area {
  padding-top: 10px
}

main {
  overflow:auto;
  background-color: #009999;
    
}

.red-text {
  color: #cc3333;
}


.hero-text h1 {
  color:#009966;
  font-size: 40px;
  font-family: helvetica, sans-serif;
  font-weight: 600;
}

.btn-ship, .btn-helper {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  font-family: arial, helvetica, sans-serif;
  border-radius:200px;
  margin:10px 20px;
}

.btn-ship {
  background-color:#cc6600;  
}

.btn-helper {
  border: 1px solid #fff;
  background-color: rgba(0,0,0,0);
  
}

.btn-total-jobs {
  border: 3px solid #336699;
  font-size: 20px;
  border-radius: 200px;
  font-family: arial, helvetica, sans-serif;
  color: #336699;
}

.numbers {
  color: #fff;
  background-color: #635c5a;
  border-radius: 200px;
  padding: 4px 12px;
  font-size: 20px;

}
.divider {margin: 0}

.navbar-right-links {
  color: #fff;
  
  font-size: 16px;
}
.front-hr {
  width: 50%;
  border: 1px solid #000;
}

.nav-btn {
  margin-left: 25%;
}
.use-cases {
  background: #f2f2f2;

}

main li {
  list-style: none;
  border: 1px solid #aaa;
  margin-bottom: 5px;
  margin-top: 5px;
  background: #fff;
  border-radius: 5px;
 
  
}

.latest-list {
  border: 1px solid #635c5a;
  border-radius: 8px;
  background-color: #c0c0c0;
}
.latest {
  border-top: 1px solid #009999
}




/*---------------------------------------------------------------------|
/----------------------------------------------------------------------|
                              CONTACT US page
|---------------------------------------------------------------------|
/----------------------------------------------------------------------*/

.contact-us {
  overflow: auto;
  border-radius: 15px;
  background-color: #aaa
}

/*---------------------------------------------------------------------|
/----------------------------------------------------------------------|
                              my-jobs page 
|---------------------------------------------------------------------|
/----------------------------------------------------------------------*/

.inactive-text {
  color: red;
}

#active-text {
  color: green;
}