

/*---------------------------------------------------------------------|
/----------------------------------------------------------------------|
                              Application wide styles
|---------------------------------------------------------------------|
/----------------------------------------------------------------------*/
body {
  background:#cccccc;
  margin:0;
  padding: 0;
  height: 100%
  
}

html {
  height: 100%
}

.navbar {
margin-bottom: 0;
border-radius:0;
width: 100%}


/*--- .contact style below  is for contact page */
.contact-wrapper {
  overflow: auto;
}

.contact {
  text-align: center;
  border: 2px solid #aaa;
  background-color: #fff;
  font-family: arial, helvetica, sans-serif;
  border-radius: 15px;

  margin-top: 50px;
  margin-bottom: 50px;

} 

.navbar-inverse .navbar-nav>li>a {
    color: #fff;

}

.navbar-inverse .nav-item {
  margin-top:15px;
  font-weight:400;
}
.navbar-inverse .nav-item:hover {
  border-bottom: solid 1px #20B2AA;
  border-top: solid 1px #20B2AA;

}

/*---------------------------------------------------------------------------------*/
/* ------------keep footer down css ------------*/


.page-wrapper{
  min-height: calc(100vh - 50px);
}




/* ------------ end of keep footer down css ------------*/

/*----------------end of application wide styles--------------------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------|
|----------------------------------------------------------------------|
                              Post add form styles
|---------------------------------------------------------------------|
|----------------------------------------------------------------------*/

.form-div {
  margin-top: 30px;
  background: #fff;
  border: 1px solid #aaa;
   
 }

.addr-field {
  margin: 5px 0;
}
.push {
  margin-top: 6px;
}

.red-star {
  color: #ff0000;
  font-size: 20px;
}

  

.form-head-text{
  background:  #066;
  padding: 10px 0;
  color: #fff;
  margin-top: 0
}


@media (min-width: 1500px) { 
.lg-screen-newjob {
  width: 40%;
  margin-left: 30%;
  margin-top: 10px;
}
 }

.overlay {
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  background-color: rgba(219, 198, 198, 0.35); /*dim the background*/
}

.spin {
  margin-top: 20%;
  border: 1px solid red;
  background: #fff
}


/*------------------end of postadd form--------------------------------------*/



/*---------------------------------------------------------------------|
|----------------------------------------------------------------------|
                              front page styles
|---------------------------------------------------------------------|
|----------------------------------------------------------------------*/

header {
  border-bottom: 1px solid #009999;
  overflow:auto;
  background-color: #ffffff

}
.green-area {
  padding-top: 10px
}

.no-helpers {
  margin-top: 20px;
  
}

main {
  overflow:auto;
  background-color: #009999;   
}

.red-text, .no-helpers {
  color: #cc3300;
}



.hero-text h1 {
  color:#009966;
  font-size: 40px;
  font-family: helvetica, sans-serif;
  font-weight: 600;
}

.btn-ship, .btn-helper {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  font-family: arial, helvetica, sans-serif;
  border-radius:200px;
  margin:10px 15px;
}

.btn-ship {
border: 3px solid #cc6600;
background-color: #cc6600;  
}

.btn-helper {
  border: 1px solid #fff;
  background-color: rgba(0,0,0,0); 
}

.btn-total-jobs {
  border: 3px solid #336699;
  font-size: 20px;
  border-radius: 200px;
  font-family: arial, helvetica, sans-serif;
  color: #336699;
}

.numbers {
  color: #fff;
  background-color: #635c5a;
  border-radius: 200px;
  padding: 4px 12px;
  font-size: 20px;
}

.logo {
  font-size: 25px
}

.fa-truck {
  color: #ff3333;
}

.divider {margin: 0}

.navbar-right-links {
  color: #fff; 
  font-size: 16px;
}

.front-hr {
  width: 50%;
  border: 1px solid #000;
}

.nav-btn {
  margin-left: 25%;
}

.use-cases {
  background: #f2f2f2;

}

.cases {
  background: #fff;
  color: #635c5a;
  border: 1px solid #aaa;
  border-radius: 10px;
 
  
}

.case-container { padding:4px;}

main li {
  list-style: none;
  border: 1px solid #aaa;
  margin-bottom: 5px;
  margin-top: 5px;
  background: #fff;
  border-radius: 15px;
     
}

.latest-list {
  border: 1px solid #635c5a;
  border-radius: 15px;
  background-color: #c0c0c0;
}

.latest {
  border-top: 1px solid #009999
}

.pic-margins {
  margin-top: 10px;
  margin-left: 10px;
}
@media (min-width: 1500px) {
  .cases {
    height: 270px;
  }
}

@media (max-width: 1450px) {
  .cases {
    height: 240px;
  }
}
.field_with_errors { display: inline }

/*---------------------------------------------------------------------|
/----------------------------------------------------------------------|
                              CONTACT US page
|---------------------------------------------------------------------|
/----------------------------------------------------------------------*/

.contact-us {
  overflow: auto;
  border-radius: 15px;
  background-color: #aaa
}

/*---------------------------------------------------------------------|
/----------------------------------------------------------------------|
                              my-jobs page 
|---------------------------------------------------------------------|
/----------------------------------------------------------------------*/

.inactive-text {
  color: red;
}

#active-text {
  color: green;

}

/*---------------------------------------------------------------------|
/----------------------------------------------------------------------|
                              privacy /cookies page 
|---------------------------------------------------------------------|
/----------------------------------------------------------------------*/

.privacy .well {
  border: 1px solid #aaa;
  background: #fff;
  
}

 