

/*---------------------------------------------------------------------|
/----------------------------------------------------------------------|
                              Application wide styles
|---------------------------------------------------------------------|
/----------------------------------------------------------------------*/
body {
  background:#cccccc;
  
}
.navbar {
margin-bottom: 0;
width: 100%}


/*--- .contact style below  is for contact page */
.contact-wrapper {
  overflow: auto;
}

.contact {
  text-align: center;
  border: 2px solid #aaa;
  background-color: #fff;
  font-family: arial, helvetica, sans-serif;
  border-radius: 15px;

  margin-top: 50px;
  margin-bottom: 50px;
} 


/*----------------end of application wide styles-----------------------*/


/*---------------------------------------------------------------------|
|----------------------------------------------------------------------|
                              Post add form styles
|---------------------------------------------------------------------|
|----------------------------------------------------------------------*/

.form-div {
  margin-top: 30px;
  background: #fff;
  border: 1px solid #aaa;
   
 }

.addr-field {
  margin: 5px 0;
}

  

.form-head-text{
  background:  #066;
  padding: 10px 0;
  color: #fff;
  margin-top: 0
}



/*------------------end of postadd form--------------------------------------*/



/*---------------------------------------------------------------------|
|----------------------------------------------------------------------|
                              front page styles
|---------------------------------------------------------------------|
|----------------------------------------------------------------------*/

header {
  border-bottom: 4px solid #aaaaaa;
  overflow:auto;
  background-color: #ffffff

}

main {
  
  overflow:auto;    
}

.directions-text {margin-top: 0}

.hero-text h1 {
  color:#ff9900;
  font-size: 40px;
  font-family: helvetica, sans-serif
}

.btn {
  
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 0;
  font-family: arial, helvetica, sans-serif;
  border-radius:200px
}

.btn-ship {
  background-color:#cc6600;
  margin:10px 20px;

}

.btn-helper {
  border: 1px solid #fff;
  background-color: rgba(0,0,0,0);
  margin:10px 20px;
}

.panel {
  padding: 0 ;
  font-size: 20px
}

main li {
  list-style: none;
  margin-top: 10px;
}

li span {
  background-color: #000;
  color: #fff;
  border-radius: 200px;
  font-size: 35px;
  padding: 7px

}



/*---------------------------------------------------------------------|
/----------------------------------------------------------------------|
                              CONTACT US page
|---------------------------------------------------------------------|
/----------------------------------------------------------------------*/

.contact-us {
  overflow: auto;
  border-radius: 15px;
  background-color: #aaa
}