

/*---------------------------------------------------------------------|
|----------------------------------------------------------------------|
                              front page styles
|---------------------------------------------------------------------|
|----------------------------------------------------------------------*/



header {
  border-bottom: 1px solid #009999;
  overflow:auto;
  background-color: #ffffff

}
.green-area {
  padding-top: 10px;
  font-family: 'Open Sans', helvetica, sans-serif;
}

.no-helpers {
  margin-top: 20px;
  
}

main {
  overflow:auto;
  background-color: #009999;   
}
#howiw {
  font-family: 'Open Sans', helvetica, sans-serif;
}

.red-text, .no-helpers {
  color: #cc3300;
}

.hero-text h1 {
  line-height: 1.33em;
  
  font-weight: 700;
  font-family: 'Open Sans', helvetica, sans-serif;
  
}
.hero-text h3 {
  color:#009966;
  font-weight: 700;
  font-family: 'Open Sans', helvetica, sans-serif;
}

.btn-ship, .btn-helper {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Open Sans', helvetica, sans-serif;
  border-radius:200px;
  margin:10px 15px;
}

.btn-ship {
border: 3px solid #cc6600;
background-color: #cc6600;  
}

.btn-helper {
  border: 1px solid #fff;
  background-color: rgba(0,0,0,0); 
}

.btn-total-jobs {
  border: 3px solid #336699;
  font-size: 20px;
  border-radius: 200px;
  font-family: 'Open Sans', helvetica, sans-serif;
  color: #336699;
}

.numbers {
  color: #fff;
  background-color: #635c5a;
  border-radius: 200px;
  padding: 4px 12px;
  font-size: 20px;
}

.logo {
  font-size: 25px
}

.fa-truck {
  color: #ff3333;
}

.divider {margin: 0}

.navbar-right-links {
  color: #fff; 
  font-size: 16px;
  font-family: 'Open Sans', helvetica, sans-serif;
}

.front-hr {
  width: 50%;
  border: 1px solid #000;
}

.nav-btn {
  margin-left: 25%;
}

.latest-list  li {
  list-style: none;
  border: 1px solid #aaa;
  margin-bottom: 4px;
  margin-top: 4px;
  background: #fff;     
}

.latest-list {
 padding-left:0
}

.latest {
  border-top: 1px solid #009999
}

.pic-margins {
  margin-top: 10px;
  margin-left: 10px;
}

.use-cases {
  background: #f2f2f2;

}

.each-cat {
  padding: 20px;
  text-align: center;

}

.each-cat p {
  margin-top: 5px;
  font-size: 17px;
  color: #666666;
  font-family: 'Open Sans', helvetica, sans-serif;
}

@media (min-width: 1500px) { 
.use-cases-wrapper {
  width: 50%;
  margin-left: 25%;
  
}
 }
.field_with_errors { display: inline }
