
.contain {
  overflow: auto;
}

.pagin-down {
  margin: 3px 10px
}


.omrade{
  border: 1px solid #aaa;
  background: #fff;
}

.divider {
  border: 1px solid #aaa;
  border-style:dashed;
 }

 .users {
  background: #f1f1f1;
  padding-right: 0;
  
 }

 .jobs-list {padding: 0 10px}

 .jobs-list li {
list-style: none;
border: 1px solid #aaa;
padding-left: 10px;
padding-top: 10px;
margin: 0 0 3px 0 ;
background: #fff;
}

.jobs-list ul {
  padding-left: 0px;
  margin: 0;
}

.job-list-item:hover {
  background: #f0f0f0
}
#money {
  font-weight: bold;
  color: #404040;
}

.toppanel {
  border: 1px solid #aaa;
  overflow: auto;
  padding: 15px;
  background: #fff;
  margin-bottom: 30px
}


.spinner {
 text-align: center
}

.middle-section {
  padding: 0;
}
.main-content {
  margin-top: 20px;
  
}
.fylke-checkbox {
  margin-bottom: 0
}

.time-text {
  color: #336666
}


@media (max-width: 750px) {
  .all {
   margin: 0 auto;
   
    }

.middle-section {
  margin: 2px 0;
}

.jobs-list {
  padding: 0;
}
.row {
 margin: 0; 
 padding: 0;
}


}

@media (min-width: 752px) and (max-width: 900px) { 

  .jobs-list {padding: 0}

   }

   @media (min-width: 990px) and (max-width: 1200px) { 

  .hidden-sm {display: none!important;}
  .omrade {width:40%;}
  .middle-section {width:60%;}
  .jobs-list {padding-right: 0}
  .cases { height:180px}
  .latest-div {width:80%; margin-left:10%}
  .hero-text {width:80%; margin-left:10%}

   }
@media (min-width: 1500px) {
  .all {
   width: 66.6%;
   margin-left: 16.6%;
    }

}