.correct-row-style { 
  overflow: auto;
}

#container {
  padding: 0;
  overflow:auto;
  margin-top: 40px;
  margin-bottom: 40px
 
}

.job-main-details {
  background: #fff;
  border:1px solid #aaa; 
  
}

.wrapper {
  border:1px solid #aaa; 
  background: #f1f1f1;
  overflow: auto;

}

.side-info li {
  list-style: none;
  overflow: auto;
  margin: 0;
  padding-left: 1px;
}
.side-info ul  {
  padding-left: 0;
  margin: 0; 
  
  }

  .apply-section {
  margin-top: 15px;
  background: #fff;
  border: 1px solid #aaa
  }

  #show-hr{
  border: 1px solid #aaa;
  margin: 2px auto;
  }

  .status {
  color: green;
  }
.applicants-div li {
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 5px;
}