

.job-section, .applicants-list {
	border: 1px solid #aaaaaa;
	background-color: #fff;
}

.applicants-list {
	margin-top: 20px;
}

.job-section {
	margin:0;
}

.job-wrap {
	border: 1px solid #aaaaaa;
padding: 15px;
background-color: #f1f1f1


}

.edit-btn, .delete-btn {
	border-radius: 200px;
	padding: 7px 25px;
	
}

.edit-btn {
	border: 1px solid blue;
	color:blue;
}

.delete-btn {
	border: 1px solid red;
	color:red;
}