

.job-section, .applicants-list {
  border: 1px solid #aaaaaa;
  background-color: #fff;
}

.applicants-list {
  margin-top: 20px;
  padding: 10px;
}

.job-section {
  margin:0;
  padding: 10px;
}

.job-wrap {
border: 1px solid #aaaaaa;
padding: 15px;
background-color: #c0c0c0;


}

.edit-btn{
  border-radius: 200px;
  padding: 7px 25px;
  border: 1px solid #006699;
  color:#006699;
}

.dashboard-menu, .result-section {
  border: 1px solid #aaa;
}
.fa-check {
  font-size: 20px;
  color: #cc6600;
}
#invited {
  color: #cc6600;
}

.table-hover > tbody > tr:hover {
  background-color: #D2D2D2;

}
.totals {
  margin-top:5px;
}

sup {
  color: red
}

.grey-text {
  color: #666666
}