

.form-div {
  margin-top: 30px;
  background: #fff;
  border: 1px solid #aaa;
   
 }

.addr-field {
  margin: 5px 0;
}
.push {
  margin-top: 6px;
}

.red-star {
  color: #ff0000;
  font-size: 20px;
}

  

.form-head-text{
  background:  #066;
  padding: 10px 0;
  color: #fff;
  margin-top: 0
}


@media (min-width: 1500px) { 
.lg-screen-newjob {
  width: 40%;
  margin-left: 30%;
  margin-top: 10px;
}
 }

.overlay {
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  background-color: rgba(219, 198, 198, 0.35); /*dim the background*/
}

.spin {
  margin-top: 20%;
  border: 1px solid red;
  background: #fff
}


