.wrap {
	background-color: #f1f1f1;
	border: 1px solid #aaaaaa;
}

#about-me, .job-review-segment {
	background-color: #fff;
	border: 1px solid #aaaaaa;
	

}

#about-me {
	overflow: auto;
}

.job-review-segment {
	margin-top: 15px;
	padding: 10px;
}

.wrapping {

	margin-top: 30px;
}

.user-pic {
	margin-top: 15px
}