<footer class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Ofte stilte spørsmål', faq_path %></li>
    <li><%= link_to 'Kontakt oss og kundeservice', contact_path %></li>
    <li><%= link_to 'Vilkår for bruk', service_path %></li>
    <li><%= link_to 'Cookies / Personvernpolicy ', privacy_path %></li>
  </ul>
</footer>